

.TitleText {
  text-color: #000000;
}
#ve652 .span2 {
  font-weight: bold;
}
#ve652 .span1 {
  font-size: 20pt;
}
.GraphDataStyle5 {
  fill-color: #8E1B41;
}
#ve1033 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
.KPIValueText {
  text-color: #000000;
  alt-text-color: #000000;
}
.GraphDataStyle1 {
  marker-color: #8E1B41;
  text-color: #8E1B41;
  fill-color: #8E1B41;
  line-color: #8E1B41;
}
#ve938 .ReportElementContainer {
  padding: 0px;
}
.DataText {
  text-color: #000000;
}
#ve752 .ReportElementContainer {
  padding: 0px;
}
#ve754 .Container {
  background-color: #A39373;
  transparency: 0;
}
.NodeLabel {
  text-color: #000000;
}
.GraphDataStyleDefault {
  marker-color: #8E1B41;
  text-color: #8E1B41;
  fill-color: #8E1B41;
  line-color: #8E1B41;
}
.LabelText {
  text-color: #000000;
}
.FootnoteText {
  text-color: #000000;
}
#ve938 .Container {
  background-color: #A39373;
  transparency: 0;
}
.KeyFrameValue {
  text-color: #000000;
}
#ve754 .ReportElementContainer {
  padding: 0px;
}
.NodeInputLabel {
  text-color: #000000;
}
#ve936 .ReportElementContainer {
  padding: 0px;
}
* {
  color: #000000;
}
#ve752 .Container {
  background-color: #E9ECEF;
  transparency: 0.71;
}
#ve880 .span1 {
  font-size: 24pt;
}
.ValueText {
  text-color: #000000;
}
.KPIRangeText {
  text-color: #000000;
  alt-text-color: #000000;
}
#ve1000 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve936 .Container {
  background-color: #E9ECEF;
  transparency: 0.71;
}

			